p {
  margin: 0; }

.pink {
  color: #eb608f !important; }

.red {
  color: #f34747 !important; }

.gray_bg {
  background: #f8f8f8; }

.ready_star {
  font-size: 12.5px;
  margin-right: 3px;
  color: #fbb84f; }

.star {
  font-size: 12.5px;
  margin-right: 3px;
  color: #737373; }

.shop_header {
  height: 52px;
  line-height: 52px;
  text-align: center;
  color: #eb608f;
  font-size: 18.75px;
  position: relative;
  background: #fff; }
  .shop_header .to_shop {
    font-size: 15px;
    background: #fff;
    position: absolute;
    right: 3%; }
    .shop_header .to_shop .icon {
      font-size: 12.5px;
      color: #eb608f; }
  .shop_header .shop_back {
    font-size: 15.6px;
    color: #eb608f;
    position: absolute;
    left: 3%; }

.has_footer {
  padding-bottom: 56.25px; }

.content .bg_ph {
  background: #f9f8f9;
  padding: 31.25px 0;
  text-align: center; }
  .content .bg_ph .print {
    display: inline-block;
    height: 75px;
    width: 75px;
    font-size: 35.625px;
    text-align: center;
    line-height: 75px;
    border-radius: 100%;
    background: #eb608f; }
.content .shop_show {
  background: #f8f8f8;
  text-align: center;
  padding: 30px 0; }
  .content .shop_show img {
    display: block;
    width: 100px;
    margin: 0 auto;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%; }
  .content .shop_show p {
    font-size: 15px;
    color: #737373;
    padding-top: 13px; }
.content .shop_show_number {
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }
  .content .shop_show_number .shop_list {
    border-bottom: 1px solid #ccc; }
  .content .shop_show_number > div > div {
    padding-top: 17px;
    height: 97px; }
  .content .shop_show_number .shop_list_info {
    border-right: 1px solid #ccc; }
  .content .shop_show_number .title {
    font-size: 13.75px;
    color: #737373; }
  .content .shop_show_number .number {
    text-align: center;
    font-size: 30px;
    color: #4d4d4d; }
.content .nav_state_all .nav_content {
  font-size: 15px;
  color: #737373;
  height: 37.5px;
  line-height: 37.5px;
  text-align: center; }
.content .nav_state_all .nav_all {
  border: 1px solid #f34747;
  border-left: none; }
.content .nav_state_all .nav_finish {
  border: 1px solid #737373;
  border-left: none; }
.content .nav_state_all .nav_no_f {
  border-bottom: 1px solid #737373;
  border-top: 1px solid #737373; }
.content .nav_state_finish .nav_content {
  font-size: 15px;
  color: #737373;
  height: 37.5px;
  line-height: 37.5px;
  text-align: center; }
.content .nav_state_finish .nav_all {
  border-bottom: 1px solid #737373;
  border-top: 1px solid #737373; }
.content .nav_state_finish .nav_finish {
  border: 1px solid #f34747; }
.content .nav_state_finish .nav_no_f {
  border-bottom: 1px solid #737373;
  border-top: 1px solid #737373; }
.content .nav_state_no_f .nav_content {
  font-size: 15px;
  color: #737373;
  height: 37.5px;
  line-height: 37.5px;
  text-align: center; }
.content .nav_state_no_f .nav_all {
  border: 1px solid #737373;
  border-left: none; }
.content .nav_state_no_f .nav_finish {
  border-bottom: 1px solid #737373;
  border-top: 1px solid #737373; }
.content .nav_state_no_f .nav_no_f {
  border: 1px solid #f34747;
  border-right: none; }
.content .search {
  height: 43.75px;
  line-height: 43.75px;
  font-size: 12.5px; }
.content .bg_ul_content {
  background: #f8f8f8;
  border-top: 1px solid #737373; }
  .content .bg_ul_content .bg_li {
    padding: 18.75px 2%;
    border-bottom: 1px solid #737373;
    margin: 0 3%;
    position: relative; }
    .content .bg_ul_content .bg_li .p_r {
      font-size: 14.375px;
      position: absolute;
      top: 50%;
      right: 3%;
      margin-top: -6px; }
    .content .bg_ul_content .bg_li .bg_s_l {
      float: left; }
    .content .bg_ul_content .bg_li .bg_s_r {
      float: right; }
    .content .bg_ul_content .bg_li .f_24 {
      font-size: 15px; }
    .content .bg_ul_content .bg_li .f_20 {
      font-size: 12.5px; }
    .content .bg_ul_content .bg_li .f_18 {
      font-size: 11.25px; }
    .content .bg_ul_content .bg_li .p_l {
      padding-right: 6%; }
.content .shop_menu_list {
  text-align: center;
  padding-top: 18.75px;
  background: #f8f8f8; }
  .content .shop_menu_list .icon {
    height: 56.25px;
    line-height: 56.25px;
    width: 56.25px;
    background: #f289b6;
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 25px;
    color: #fff; }
  .content .shop_menu_list .text {
    font-size: 11.25px;
    margin-top: 5px;
    color: #737373; }
.content .shop_income_number {
  height: 136.25px;
  line-height: 136.25px;
  background: #f8f8f8;
  font-size: 37.5px;
  text-align: center;
  color: #eb608f; }
.content .shop_income_menu {
  background: #fff; }
  .content .shop_income_menu .shop_income_nbr {
    margin: 0 3%; }
    .content .shop_income_menu .shop_income_nbr .shop_list {
      border-bottom: 1px solid #ccc; }
    .content .shop_income_menu .shop_income_nbr > div {
      border-bottom: 1px solid #ccc; }
      .content .shop_income_menu .shop_income_nbr > div:first-child {
        padding-left: 0; }
      .content .shop_income_menu .shop_income_nbr > div > div {
        padding-top: 17px;
        height: 97px; }
    .content .shop_income_menu .shop_income_nbr .shop_list_info {
      border-right: 1px solid #ccc; }
    .content .shop_income_menu .shop_income_nbr .title {
      font-size: 15px;
      color: #737373;
      padding-top: 31.25px;
      display: inline-block; }
    .content .shop_income_menu .shop_income_nbr .number {
      text-align: right;
      font-size: 30px;
      color: #737373; }
  .content .shop_income_menu .shop_income_list .shop_list_info {
    border-right: 1px solid #ccc; }
  .content .shop_income_menu .shop_income_list > div {
    padding-bottom: 26.85px;
    text-align: right; }
  .content .shop_income_menu .shop_income_list .title {
    padding-top: 31.25px;
    text-align: left; }
    .content .shop_income_menu .shop_income_list .title .icon {
      font-size: 28.75px;
      color: #eb608f;
      vertical-align: middle; }
    .content .shop_income_menu .shop_income_list .title .text {
      font-size: 18.75px;
      vertical-align: middle; }
      .content .shop_income_menu .shop_income_list .title .text .circle {
        height: 10px;
        width: 10px;
        display: inline-block;
        vertical-align: middle;
        background: #f34747;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%; }
  .content .shop_income_menu .shop_income_list .number {
    text-align: right;
    font-size: 30px;
    color: #737373; }
  .content .shop_income_menu a {
    margin-top: 18px;
    display: inline-block;
    margin-right: 20px;
    color: #737373;
    font-size: 12.5px; }
.content .shop_order_info {
  padding: 0 3%;
  background: #f0f0f0;
  margin-bottom: 9.3px; }
  .content .shop_order_info .shop_order_state {
    line-height: 46.25px;
    margin-bottom: 0;
    font-size: 15px;
    color: #737373; }
    .content .shop_order_info .shop_order_state span {
      float: right;
      font-size: 12.5px;
      color: #d1d1d1; }
  .content .shop_order_info .shop_order_user {
    padding: 3px 0; }
    .content .shop_order_info .shop_order_user li {
      border-top: 1px solid #fff;
      line-height: 29.5px;
      font-size: 15px;
      color: #737373; }
      .content .shop_order_info .shop_order_user li:first-child {
        border-top: none; }
      .content .shop_order_info .shop_order_user li span {
        font-size: 12.5px;
        float: right; }
  .content .shop_order_info .shop_order_msg {
    padding: 5px 0 18.75px; }
    .content .shop_order_info .shop_order_msg li {
      border-bottom: 1px solid #fff;
      line-height: 29.5px;
      font-size: 12.5px;
      color: #737373; }
      .content .shop_order_info .shop_order_msg li span {
        font-size: 12.5px;
        float: right; }
      .content .shop_order_info .shop_order_msg li .big {
        font-size: 16.25px; }
  .content .shop_order_info .shop_order_ads {
    padding: 15.5px 0 48.75px; }
    .content .shop_order_info .shop_order_ads h2 {
      font-size: 15px;
      color: #737373;
      font-weight: normal;
      padding-bottom: 5px; }
    .content .shop_order_info .shop_order_ads li {
      border-bottom: 1px solid #fff;
      line-height: 29.5px;
      font-size: 12.5px;
      color: #737373; }
      .content .shop_order_info .shop_order_ads li span {
        font-size: 12.5px; }
      .content .shop_order_info .shop_order_ads li .big {
        font-size: 16.25px; }
.content .shop_service_nav {
  background: #fff; }
  .content .shop_service_nav > div {
    text-align: center;
    height: 37.5px;
    line-height: 37.5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative; }
    .content .shop_service_nav > div span {
      color: #737373; }
    .content .shop_service_nav > div .triangle {
      border: solid;
      border-width: 8px 6px;
      border-color: #737373 transparent transparent transparent;
      position: absolute;
      top: 13px;
      right: 20px;
      transition: transform .1s ease-in 0s;
      -webkit-transition: -webkit-transform .1s ease-in 0s; }
    .content .shop_service_nav > div ul {
      position: absolute;
      width: 100%;
      background: #fff;
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
      left: 0;
      display: none; }
      .content .shop_service_nav > div ul li {
        border-top: 1px solid #ccc;
        font-size: 15px;
        color: #737373; }
        .content .shop_service_nav > div ul li:first-child {
          border-top: none; }
  .content .shop_service_nav .shop_all_svice {
    border-right: 1px solid #ccc; }
.content .shop_service_nav1 .shop_all_svice {
  border-right: 1px solid #f34747;
  border-top: 1px solid #f34747;
  border-bottom: 1px solid #f34747; }
  .content .shop_service_nav1 .shop_all_svice .triangle {
    border-color: #f34747 transparent transparent transparent;
    transform: rotate(180deg) translate(0, 6px);
    -webkit-transform: rotate(180deg) translate(0, 6px); }
  .content .shop_service_nav1 .shop_all_svice ul {
    display: block; }
.content .shop_service_nav2 .shop_all_svice {
  border-right: none; }
.content .shop_service_nav2 .shop_all_genre {
  border-left: 1px solid #f34747;
  border-top: 1px solid #f34747;
  border-bottom: 1px solid #f34747; }
  .content .shop_service_nav2 .shop_all_genre .triangle {
    border-color: #f34747 transparent transparent transparent;
    transform: rotate(180deg) translate(0, 6px);
    -webkit-transform: rotate(180deg) translate(0, 6px); }
  .content .shop_service_nav2 .shop_all_genre ul {
    display: block; }
.content .shop_svice_list {
  padding: 0 3%; }
  .content .shop_svice_list li {
    padding: 16.8px 0;
    border-bottom: 1px solid #ccc; }
    .content .shop_svice_list li .shop_svice_head {
      width: 30%;
      float: left; }
      .content .shop_svice_list li .shop_svice_head img {
        display: block;
        width: 80%; }
    .content .shop_svice_list li .shop_svice_info {
      width: 35%;
      float: left; }
      .content .shop_svice_list li .shop_svice_info h2 {
        font-size: 15px;
        font-weight: normal;
        color: #4d4d4d;
        margin-bottom: 10px; }
      .content .shop_svice_list li .shop_svice_info p {
        font-size: 11.2px;
        color: #737373;
        margin-bottom: 5px; }
    .content .shop_svice_list li .shop_svice_price {
      width: 35%;
      float: left;
      text-align: right; }
      .content .shop_svice_list li .shop_svice_price p.rate span {
        color: #737373;
        font-size: 11.25px; }
      .content .shop_svice_list li .shop_svice_price p.rate .price {
        font-size: 15px;
        color: #f34747;
        margin-left: 5px; }
      .content .shop_svice_list li .shop_svice_price .operate {
        margin-top: 18.75px;
        color: #f289b6;
        font-size: 13.75px; }
        .content .shop_svice_list li .shop_svice_price .operate a {
          color: #f289b6;
          font-size: 13.75px; }
.content .shop_svice_btn {
  padding: 15px 0;
  width: 100%;
  position: fixed;
  background: #f8f8f8;
  bottom: 0; }
  .content .shop_svice_btn a {
    height: 37.5px;
    line-height: 37.5px;
    text-align: center;
    color: #fff;
    background: #f34747;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 8.5%; }
.content .shop_techn_list {
  padding: 0 3%; }
  .content .shop_techn_list li {
    padding: 18.75px 0;
    border-bottom: 1px solid #ccc;
    position: relative; }
    .content .shop_techn_list li > div p {
      margin-bottom: 12px;
      vertical-align: middle;
      color: #737373; }
      .content .shop_techn_list li > div p .name {
        font-size: 15px;
        color: #737373;
        margin-right: 5px;
        vertical-align: middle; }
      .content .shop_techn_list li > div p .text {
        color: #aeaeae;
        font-size: 11.25px;
        margin-left: 10px;
        vertical-align: middle;
        font-size: 12.5px; }
    .content .shop_techn_list li .detail {
      position: absolute;
      right: 5%;
      top: 50%;
      font-size: 13.75px;
      margin-top: -8px;
      color: #737373; }
    .content .shop_techn_list li .shop_detail_info p {
      color: #737373;
      margin: 0;
      font-size: 13.75px; }
    .content .shop_techn_list li .shop_detail_info span {
      font-size: 11.25px;
      color: #aeaeae; }
    .content .shop_techn_list li .shop_detail_price {
      font-size: 16.25px;
      text-align: right;
      padding-right: 40px;
      padding-top: 10px;
      color: #737373; }
.content .shop_detail_nav {
  background: #fff; }
  .content .shop_detail_nav > div {
    text-align: center;
    height: 37.5px;
    line-height: 37.5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative; }
    .content .shop_detail_nav > div span {
      color: #aeaeae; }
  .content .shop_detail_nav .shop_detail_shop {
    border-right: 1px solid #ccc; }

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 56.25px;
  background: #eee; }
  footer .current .icon, footer .current .text {
    color: #eb608f; }
  footer .icon {
    font-size: 23px;
    color: #737373; }
  footer .text {
    font-size: 12.5px;
    color: #737373; }

/*# sourceMappingURL=shop.css.map */
