$main_color:#eb608f;
$bg_color:#f8f8f8;
$font_light:#737373;
$border_color:#ccc;
$font_dark:#4d4d4d;
.shop_header{
	height:52px;
	line-height:52px;
	text-align:center;
	color:$main_color;
	font-size:18.75px;
	position: relative;
	.to_shop{
		font-size: 15px;
		position: absolute;
		right: 3%;
		.icon{
			font-size: 12.5px;
			color:$main_color;
		}
	}
}
.has_footer{
	padding-bottom:56.25px;
}
.content{
	.shop_show{
		background:$bg_color;
		text-align:center;
		padding:30px 0;
		img{
			display:block;
			width:100px;
			margin: 0 auto;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
		}
		p{
			font-size:15px;
			color:$font_light;
			padding-top:13px;
		}
	}
	.shop_show_number{
		border-top:1px solid $border_color;
		border-bottom:1px solid $border_color;
		.shop_list{
			border-bottom:1px solid $border_color;
		}
		& >div{
			& >div{
				padding-top:17px;
				height:97px;
			}
		}
		.shop_list_info{
			border-right:1px solid $border_color;
		}
		.title{
			font-size:13.75px;
			color:$font_light;
		}
		.number{
			text-align:center;
			font-size:30px;
			color:$font_dark;

		}
	}
	.nav_state{
		.nav_content{
			font-size: 15px;
			color: $font_light;
			height: 37.5px;
			line-height: 37.5px;
			text-align: center;
			border: 1px solid $font_light;
			border-left: none;
		}
		.nav_no{
			border-right: none;
		}
	}
	.search{
		height: 43.75px;
		line-height: 43.75px;
		font-size: 12.5px;
	}
	.bg_ul_content{
		background: $bg_color;
		border-top: 1px solid $font_light;
		.bg_li{
			padding: 18.75px 3%;
			border-bottom: 1px solid $font_light;
		}
		.bg_s_l{
			float: left;
		}
		.bg_s_r{
			float: right;
		}
		.f_24{
			font-size: 15px;

	}
	.shop_menu_list{
		& >div{
		}
	}
}