$main_color:#eb608f;
$bg_color:#f8f8f8;
$font_light:#737373;
$border_color:#ccc;
$font_dark:#4d4d4d;
$bg_white:#fff;
$gray_e:#eee;
$pink_bg:#f289b6;
$order_bg:#f0f0f0;
$red_color:#f34747;
$bg_ph:#f9f8f9;
$gray_color:#aeaeae;
p{margin:0;}
.pink{
	color:$main_color!important;
}
.red{
	color:$red_color!important;
}
.gray_bg{
	background:$bg_color;
}
.ready_star{
	font-size:12.5px;
	margin-right:3px;
	color:#fbb84f;
}
.star{
	font-size:12.5px;
	margin-right:3px;
	color:$font_light;
}
.shop_header{
	height:52px;
	line-height:52px;
	text-align:center;
	color:$main_color;
	font-size:18.75px;
	position: relative;
	background:$bg_white;
	.to_shop{
		font-size: 15px;
		background:$bg_white;
		position: absolute;
		right: 3%;
		.icon{
			font-size: 12.5px;
			color:$main_color;
		}
	}
	.shop_back{
		font-size:15.6px;
		color:$main_color;
		position:absolute;
		left:3%;
	}
}
.has_footer{
	padding-bottom:56.25px;
}
.content{
	.bg_ph{
		background: $bg_ph;
		padding: 31.25px 0;
		text-align: center;
		.print{
			display: inline-block;
			height: 75px;
			width: 75px;
			font-size: 35.625px;
			text-align: center;
			line-height: 75px;
			border-radius: 100%;
			background: $main_color;
		}
	}
	.shop_show{
		background:$bg_color;
		text-align:center;
		padding:30px 0;
		img{
			display:block;
			width:100px;
			margin: 0 auto;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
		}
		p{
			font-size:15px;
			color:$font_light;
			padding-top:13px;
		}
	}
	.shop_show_number{
		background:$bg_white;
		border-top:1px solid $border_color;
		border-bottom:1px solid $border_color;
		.shop_list{
			border-bottom:1px solid $border_color;
		}
		& >div{
			& >div{
				padding-top:17px;
				height:97px;
			}
		}
		.shop_list_info{
			border-right:1px solid $border_color;
		}
		.title{
			font-size:13.75px;
			color:$font_light;
		}
		.number{
			text-align:center;
			font-size:30px;
			color:$font_dark;

		}
	}
	.nav_state_all{
		.nav_content{
			font-size: 15px;
			color: $font_light;
			height: 37.5px;
			line-height: 37.5px;
			text-align: center;
		}
		.nav_all{
			border: 1px solid $red_color;
			border-left: none;
		}
		.nav_finish{
			border: 1px solid $font_light;
			border-left: none;
		}
		.nav_no_f{
			border-bottom: 1px solid $font_light;
			border-top: 1px solid $font_light;
		}
	}
	.nav_state_finish{
		.nav_content{
			font-size: 15px;
			color: $font_light;
			height: 37.5px;
			line-height: 37.5px;
			text-align: center;
		}
		.nav_all{
			border-bottom: 1px solid $font_light;
			border-top: 1px solid $font_light;
		}
		.nav_finish{
			border: 1px solid $red_color;
		}
		.nav_no_f{
			border-bottom: 1px solid $font_light;
			border-top: 1px solid $font_light;
		}
	}
	.nav_state_no_f{
		.nav_content{
			font-size: 15px;
			color: $font_light;
			height: 37.5px;
			line-height: 37.5px;
			text-align: center;
		}
		.nav_all{
			border: 1px solid $font_light;
			border-left: none;
		}
		.nav_finish{
			border-bottom: 1px solid $font_light;
			border-top: 1px solid $font_light;
		}
		.nav_no_f{
			border: 1px solid $red_color;
			border-right: none;
		}
	}
	.search{
		height: 43.75px;
		line-height: 43.75px;
		font-size: 12.5px;
	}
	.bg_ul_content{
		background: $bg_color;
		border-top: 1px solid $font_light;
		.bg_li{
			padding: 18.75px 2%;
			border-bottom: 1px solid $font_light;
			margin: 0 3%;
			position: relative;
			.p_r{
				font-size: 14.375px;
				position: absolute;
				top: 50%;
				right: 3%;
				margin-top: -6px;
			}
			.bg_s_l{
			float: left;
			}
			.bg_s_r{
				float: right;
			}
			.f_24{
				font-size: 15px;
			}
			.f_20{
				font-size: 12.5px;
			}
			.f_18{
				font-size: 11.25px;
			}
			.p_l{
				padding-right: 6%;
			}
		}
	}
	.shop_menu_list{
		text-align:center;
		padding-top:18.75px;
		background:$bg_color;
		.icon{
			height:56.25px;
			line-height:56.25px;
			width:56.25px;
			background:$pink_bg;
			display:inline-block;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius:100%;
			font-size:25px;
			color:$bg_white;
		}
		.text{
			font-size:11.25px;
			margin-top:5px;
			color:$font_light;
		}
	}
	.shop_income_number{
		height:136.25px;
		line-height: 136.25px;
		background: $bg_color;
		font-size:37.5px;
		text-align:center;
		color:$main_color;
	}
	.shop_income_menu{
		background:$bg_white;
		.shop_income_nbr{
			margin:0 3%;
			.shop_list{
				border-bottom:1px solid $border_color;
			}
			& >div{
				&:first-child{
					padding-left:0;
				}
				border-bottom:1px solid $border_color;
				& >div{
					padding-top:17px;
					height:97px;
				}
			}
			.shop_list_info{
				border-right:1px solid $border_color;
			}
			.title{
				font-size:15px;
				color:$font_light;
				padding-top:31.25px;
				display: inline-block;
			}
			.number{
				text-align:right;
				font-size:30px;
				color:$font_light;
			}
		}
		.shop_income_list{
			.shop_list_info{
				border-right:1px solid $border_color;
			}
			& >div{
				padding-bottom:26.85px;
				text-align:right;
			}
			.title{
				padding-top:31.25px;
				text-align:left;
				.icon{
					font-size:28.75px;
					color:$main_color;
					vertical-align: middle;
				}
				.text{
					font-size:18.75px;
					vertical-align: middle;
					.circle{
						height:10px;
						width:10px;
						display: inline-block;
						vertical-align: middle;
						background:$red_color;
						-webkit-border-radius: 100%;
						-moz-border-radius: 100%;
						border-radius:100%;
					}
				}
			}
			.number{
				text-align:right;
				font-size:30px;
				color:$font_light;
			}
		}
		a{
			margin-top:18px;
			display: inline-block;
			margin-right:20px;
			color:$font_light;
			font-size:12.5px;
		}
	}
	.shop_order_info{
		padding:0 3%;
		background:$order_bg;
		margin-bottom:9.3px;
		.shop_order_state{
			line-height:46.25px;
			margin-bottom:0;
			span{
				float:right;
				font-size:12.5px;
				color:#d1d1d1;
			}
			font-size:15px;
			color:$font_light;
		}
		.shop_order_user{
			padding:3px 0;
			li{
				&:first-child{
					border-top:none;
				}
				border-top:1px solid $bg_white;
				line-height:29.5px;
				font-size:15px;
				color:$font_light;
				span{
					font-size:12.5px;
					float:right;
				}
			}
		}
		.shop_order_msg{
			padding:5px 0 18.75px;
			li{
				border-bottom:1px solid $bg_white;
				line-height:29.5px;
				font-size:12.5px;
				color:$font_light;
				span{
					font-size:12.5px;
					float:right;
				}
				.big{
					font-size: 16.25px;
				}
			}
		}
		.shop_order_ads{
			padding:15.5px 0 48.75px;
			h2{
				font-size:15px;
				color:$font_light;
				font-weight:normal;
				padding-bottom:5px;
			}
			li{
				border-bottom:1px solid $bg_white;
				line-height:29.5px;
				font-size:12.5px;
				color:$font_light;
				span{
					font-size:12.5px;
				}
				.big{
					font-size: 16.25px;
				}
			}
		}
	}
	.shop_service_nav{
		background:$bg_white;
		& >div{
			text-align:center;
			height:37.5px;
			line-height: 37.5px;		
			border-top:1px solid $border_color;
			border-bottom:1px solid $border_color;
			position:relative;
			span{
				color:$font_light;
			}
			.triangle{
				border:solid;
				border-width:8px 6px;
				border-color:$font_light transparent transparent transparent;
				position:absolute;
				top:13px;
				right:20px;
				transition: transform .1s ease-in 0s;
    			-webkit-transition: -webkit-transform .1s ease-in 0s;
			}
			ul{
				position:absolute;
				width:100%;
				background:$bg_white;
				-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.2);
				left:0;
				display: none;
				li{
					&:first-child{
						border-top:none;
					}
					border-top:1px solid $border_color;
					font-size:15px;
					color:$font_light;
				}
			}
		}
		.shop_all_svice{
			border-right:1px solid $border_color;
		}
	}
	.shop_service_nav1{
		.shop_all_svice{
			border-right:1px solid $red_color;
			border-top:1px solid $red_color;
			border-bottom:1px solid $red_color;
			.triangle{
				border-color:$red_color transparent transparent transparent;
				transform:rotate(180deg);
				-webkit-transform:rotate(180deg);
			}
			ul{
				display: block;
			}
		}
	}
	.shop_service_nav2{
		.shop_all_svice{
			border-right:none;
		}
		.shop_all_genre{
			border-left:1px solid $red_color;
			border-top:1px solid $red_color;
			border-bottom:1px solid $red_color;
			.triangle{
				border-color:$red_color transparent transparent transparent;
				transform:rotate(180deg);
				-webkit-transform:rotate(180deg);
			}
			ul{
				display: block;
			}
		}
	}
	.shop_svice_list{
		padding:0 3%;
		li{
			padding:16.8px 0;
			border-bottom:1px solid $border_color;
			.shop_svice_head{
				width:30%;
				float:left;
				img{
					display: block;
					width:80%;
				}
			}
			.shop_svice_info{
				width:35%;
				float:left;
				h2{
					font-size:15px;
					font-weight: normal;
					color:$font_dark;
					margin-bottom:10px;
				}
				p{
					font-size:11.2px;
					color:$font_light;
					margin-bottom:5px;
				}
			}
			.shop_svice_price{
				width:35%;
				float:left;
				text-align:right;
				p.rate{
					span{
						color:$font_light;
						font-size:11.25px;
					}
					.price{
						font-size:15px;
						color:$red_color;
						margin-left:5px;
					}
				}
				.operate{
					margin-top:18.75px;
					color:$pink_bg;
					font-size:13.75px;
					a{
						color:$pink_bg;
						font-size:13.75px;
					}
				}
			}
		}
	}
	.shop_svice_btn{
		padding:15px 0;
		width:100%;
		position:fixed;
		background:$bg_color;
		bottom:0;
		a{
			height:37.5px;
			line-height:37.5px;
			text-align:center;
			color:$bg_white;
			background:$red_color;
			display: block;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			font-size:15px;
			margin:0 8.5%;
		}
	}
	.shop_techn_list{
		padding:0 3%;
		li{
			padding:18.75px 0;
			border-bottom:1px solid $border_color;
			position:relative;
			& >div{
				p{
					margin-bottom:12px;
					vertical-align: middle;
					color:$font_light;
					.name{
						font-size:15px;
						color:$font_light;
						margin-right:5px;
						vertical-align: middle;
					}
					.text{
						color:$gray_color;
						font-size:11.25px;
						margin-left:10px;
						vertical-align: middle;
						font-size:12.5px;
					}
				}
			}
			.detail{
				position:absolute;
				right:5%;
				top:50%;
				font-size:13.75px;
				margin-top:-8px;
				color:$font_light;
			}
		}
	}
}
footer{
	text-align:center;
	width:100%;
	position:fixed;
	bottom:0;
	height:56.25px;
	background:$gray_e;
	.current{
		.icon,.text{
			color:$main_color;
		}
	}
	.icon{
		font-size:23px;
		color:$font_light;
	}
	.text{
		font-size:12.5px;
		color:$font_light;
	}
}