$main_color:#eb608f;
$bg_color:#f8f8f8;
$font_light:#737373;
$border_color:#ccc;
$font_dark:#4d4d4d;
$bg_white:#fff;
$gray_e:#eee;
$pink_bg:#f289b6;
$order_bg:#f0f0f0;
$red_color:#f34747;
$bg_ph:#f9f8f9;
$gray_color:#aeaeae;
$gray_39:#393939;

$fs18:1.125rem;
$fs20:1.25rem;
$fs22:1.375rem;
$fs24:1.5rem;
$fs26:1.56rem;
$fs30:1.875rem;
$fs38:2.43rem;