$main_color:#eb608f;
$bg_color:#f8f8f8;
$font_light:#737373;
$border_color:#ccc;
$font_dark:#4d4d4d;
$bg_white:#fff;
$gray_e:#eee;
$pink_bg:#f289b6;
$order_bg:#f0f0f0;
$red_color:#f34747;
$bg_ph:#f9f8f9;
$gray_color:#aeaeae;
$gray_39:#393939;
$gray_f7:#f7f7f7;
$border_ef:#efefef;

$fs16:0.667rem;
$fs18:0.703125rem;
$fs20:0.78125rem;
$fs22:0.9167rem;
$fs24:1rem;
$fs26:1.2833rem;
$fs30:1.25rem;
$fs38:1.583rem;
$fs40:1.667rem;